<% provide(:title, 'All users') %>


<table border=1 width=100%>
  <tr>
    <th>ID</td>
    <th>Name</td>
    <th>Email</td>
  </tr>

<% @user.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= u.name %></td>
    <td><%=u.email %></td>
  </tr>
<% end %>
</table>
