<% provide(:title, 'All adverts') %>

<div class="row alert alert-info">
  <h4>There are currently <%=Advert.count%> adverts in the database.</h4>
</div>

<div class="row">
  <%= render 'shared/advert_list', object: @adverts %>
</div>

