<% provide(:title, @advert.title) %>

<div class="row">
<div class="span4 offset4">
  <%= image_tag("http://placehold.it/350x300", :border => 1) %>
</div>
</div>

<div class="row">
  <div class="offset3 span6 advert">
    <h4><%= @advert.title %></h4>
  </div>
</div>
<div class="row">
  <div class="offset3 span6 advert">
    <p><%= @advert.body %></p>
  </div>
</div>


