// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.advert {
  margin: 1em;
  padding: 1em;
  background-color: #EEE;
};
